* {
    color: black;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Quicksand;
    color: black;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.container {
    width: 80%;
    overflow: hidden;
    margin: auto;
}
.navvvvv {
    position: sticky;
    top: 0;
    z-index: 2;
}
#navbar {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 30px;
    background-color: white;
}
#navbar:hover {
    cursor: default;
}
#nav-menu a{
    color: black;
    transition: all 0.3s ease;
    padding: 10px;
    font-weight: bold;
}
#nav-menu a:hover{
    color: #0077c2;
    background-color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px #0077c2;
}
#nav-menu-2 a {
    padding: 10px;
    color: darkblue;
    font-weight: 1000;
    opacity: 0.6;
}
#nav-menu-2 a:hover{
    color: darkblue;
    opacity: 1;
}
#logo {
    font-size: 20px;
    display: flex;
}
#logo img{
    width: 20%;
}
#nav-menu {
    display: flex;
}
#nav-menu ul{
    display: flex;
}
#nav-menu li{
    list-style-type: none;
    padding-right: 6px;
}
#nav-menu li a{
    text-decoration: none;
}
#nav-menu-2 {
    display: flex;
}
#nav-menu-2 a{
    text-decoration: none;
}
#showcase {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    background-color: #555555;
}
#showcase h1{
    font-size: 40px;
    max-width: 50%;
    color: white;
    margin-bottom: 60px;
}
#showcase img {
    width: 40%;
}
#home-buttons a{
    border-radius: 40px;
    background-color:#222222;
    color: white;
    padding: 20px;
    text-decoration: none;
    margin-right: 10px;
}
#home-buttons a:hover{
    background-color:white;
    color: black;
}
.Sub-Heading{
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
}
.pastpapers-main {
    display: flex;
    margin: 30px 0;
}
.pastpapers {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
}
.image1 {
    width: 200px;
    margin: auto;
}
.image2 {
    width: 200px;
    margin: auto;
}
.image3 {
    width: 200px;
    margin: auto;
}
.edexcel-title {
    text-align: center;
    font-size: 60px;
    margin: 30px 0;
}
.edexcel-subjects {
    display: flex;
    flex-direction: column;
}
/* math */
.edexcel-math {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 35px;
}
.edexcel-math-1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.edexcel-math-1 h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edexcel-math-1 h2{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edexcel-math-1 h1, h2, img{
    margin: 0 15px;
}
.edexcel-math-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.edexcel-math-2 a{
    margin-right: 50px;
    text-decoration: none;
    border-radius: 40px;
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
}
.edexcel-math-2 a:hover {
    background-color: #5BC0EB;
}
.edexcel-math img{
    width: 12%;
}
/* chemistry */
.edexcel-chemistry {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 30px;
}
.edexcel-chemistry-1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.edexcel-chemistry-1 h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edexcel-chemistry-1 h2{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edexcel-chemistry-1 h1, h2, img{
    margin: 0 15px;
}
.edexcel-chemistry-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.edexcel-chemistry-2 a{
    margin-right: 50px;
    text-decoration: none;
    border-radius: 40px;
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
}
.edexcel-chemistry-2 a:hover {
    background-color: #5BC0EB;
}
.edexcel-chemistry img{
    width: 12%;
}
/* Physics */
.edexcel-physics {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 35px;
}
.edexcel-physics-1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.edexcel-physics-1 h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edexcel-physics-1 h2{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edexcel-physics-1 h1, h2, img{
    margin: 0 15px;
}
.edexcel-physics-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.edexcel-physics-2 a{
    margin-right: 50px;
    text-decoration: none;
    border-radius: 40px;
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
}
.edexcel-physics-2 a:hover {
    background-color: #5BC0EB;
}
.edexcel-physics img{
    width: 12%;
}
/* biology */
.edexcel-biology {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    padding: 10px 0;
}
.edexcel-biology-1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.edexcel-biology-1 h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edexcel-biology-1 h2{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edexcel-biology-1 h1, h2, img{
    margin: 0 15px;
}
.edexcel-biology-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.edexcel-biology-2 a{
    margin-right: 50px;
    text-decoration: none;
    border-radius: 40px;
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
}
.edexcel-biology img{
    width: 12%;
}
.cambridge-subjects a:hover{
    background-color: #5BC0EB;
}
.cambridge-title {
    text-align: center;
    font-size: 60px;
    margin: 30px 0;
}
/* ENglish 1st and 2nd*/
.cambridge-english {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    margin-bottom: 35px;
    background-color: #f4f4f4;
}
.cambridge-english-1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.cambridge-english-1 h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cambridge-english-1 h2{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cambridge-english-1 h1, h2, img{
    margin: 0 15px;
}
.cambridge-english-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.cambridge-english-2 a{
    margin-right: 50px;
    text-decoration: none;
    border-radius: 40px;
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
}
.cambridge-english img{
    width: 12%;
}
/* Arabic 1st */
.cambridge-arabic {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 35px;
    background-color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 35px;
}
.cambridge-arabic-1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.cambridge-arabic-1 h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cambridge-arabic-1 h2{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cambridge-arabic-1 h1, h2, img{
    margin: 0 15px;
}
.cambridge-arabic-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.cambridge-arabic-2 a{
    margin-right: 50px;
    text-decoration: none;
    border-radius: 40px;
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
}
.cambridge-arabic img{
    width: 12%;
}
/* computer science */
.cambridge-computer-science {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 35px;
    background-color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 35px;
}
.cambridge-computer-science-1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.cambridge-computer-science-1 h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cambridge-computer-science-1 h2{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cambridge-computer-science-1 h1, h2, img{
    margin: 0 15px;
}
.cambridge-computer-science-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.cambridge-computer-science-2 a{
    margin-right: 50px;
    text-decoration: none;
    border-radius: 40px;
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
}
.cambridge-computer-science img{
    max-width: 13%;
}
/* ICT */
.cambridge-ict {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 35px;
    background-color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 35px;
}
.cambridge-ict-1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.cambridge-ict-1 h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cambridge-ict-1 h2{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cambridge-ict-1 h1, h2, img{
    margin: 0 15px;
}
.cambridge-ict-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.cambridge-ict-2 a{
    margin-right: 50px;
    text-decoration: none;
    border-radius: 40px;
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
}
.cambridge-ict img{
    width: 12%;
}
.cambridge-sub-title {
    text-align: center;
    margin: auto;
    width: 50%;
    margin-bottom: 30px;
}
.edexcel-sub-title {
    text-align: center;
    margin: auto;
    width: 50%;
    margin-bottom: 30px;
}
#physics-topic-questions-title {
    text-align: center;
    font-size: 40px;
    margin: 30px 0;
}
.physics-topic-questions-1 {
    font-size: 30px;
    text-align: center;
}
.physics-topic-questions-table-1 {
    font-size: 25px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.physics-topic-questions-table-1 li, a {
    margin: 25px 0;
    text-decoration: none;
}
.physics-topic-questions-table-1 ul {
    list-style: none;
}
.note-1 {
    text-align: center;
}
.physics-topic-questions-table-1 a {
    color:#0077c2;
    opacity: 0.6;
}
.physics-topic-questions-table-1 a:hover {
    color:#0077c2;
    opacity: 1;
}
table, td, th {
    padding: 1rem;
    text-align: center;
}
table {
    font-size: 20px;
}
.slogans{
    width: 100%;
    margin: auto;
}
.slogan-1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
}
.slogan-1 h2{
    color:#000000;
    margin-top: 30px;
}

.slogan-2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.slogans {
    background-color: #f3f3f3;
}
.mini-nav {
    margin: 20px;
    text-align: center;
    padding: 50px;
}
.mini-nav h1 {
    background: linear-gradient(45deg, #FF5733, #00C0FF);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 80%;
    margin: auto;
    animation: animateGradient 2s infinite;
    font-size: 30px;
}

.w-hr {
    background-color: blue;
    height: 100px;
}
.x-hr {
    background-color: black;
    height: 1px;
}
.physicspptitle {
    text-align: center;
    margin-bottom: 30px;
}
.blogh1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}
.blogh2 {
    text-align: center;
    font-size: 15px;
    width: 80%;
    margin: auto;
}
.blog-1 {
    width: 80%;
    padding: 20px 0px;
    background-color:#f4f4f4;
    border-radius: 50px;
    margin: 30px auto;
}
.blog-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pastpapersphysics {
    display: flex;
    justify-content: space-around;
}
.part1 h1, h3 {
    text-align: center;
    margin-bottom: 30px;
}
.part2 h1, h3 {
    text-align: center;
    margin-bottom: 30px;
}
.part1 a, .part2 a{
    color: cornflowerblue;
    padding: 10px;
}
.part1 a:hover{
    color: #5BC0EB;
}

/* Drop Down */
.dropdown1 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.dropdown {
    position: relative;
}

.dropdown-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.dropdown-content {
display: none;
position: absolute;
top: 100%;
left: 50%;
transform: translateX(-50%);
background-color: white;
min-width: 200px;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
border-radius: 5px;
text-align: center;
z-index: 1;
}
.dropdown-content h4 {
    margin: 20px;
}
.dropdown-content a:hover {
color: #5BC0EB;
}

/* Show dropdown content on hover or click */
.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
display: block;
}
.drop-option {
margin-left: 20px;
}

/* Navbar when small width */
.small-nav {
    top: 0;
    z-index: 3;
    display: none;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
.small-nav img{
    padding: 0;
    max-width: 30px;
    cursor: pointer;
}
.small-nav img:hover {
    transform: scale(1.1);
}

.small-menu {
    display: none;
    flex-direction: column;
    text-align: right;
    z-index: 3;
    background-color: white;
    width: 100%;
}
.small-menu ul{
    margin-top: 10px;
}
.small-menu a:hover {
    color: #0077c2;
    background-color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 5px #0077c2;
    
}
/* Media Query for Home Page */
@media screen and (max-width: 512px) and (min-width: 10px) { 
    /* Navbar when small width */
    .small-nav {
        top: 0;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .small-nav img{
        padding: 0;
        max-width: 30px;
        cursor: pointer;
    }
    .small-nav img:hover {
        transform: scale(1.1);
    }

    .small-menu {
        display: none;
        flex-direction: column;
        text-align: right;
        z-index: 3;
        background-color: white;
        width: 100%;
    }
    .small-menu ul{
        margin: 10px;
    }
    .small-menu a:hover {
        color: #0077c2;
        background-color: white;
        text-decoration: none;
        padding: 3px;
        border-radius: 5px;
        box-shadow: 0 0 5px #0077c2;
        
    }
    #navbar {
        display: none;
    }
    #showcase {
        align-items: center;
        background-color: #555555;
        margin: auto;
    }
    #showcase h1{
        font-size: 25px;
        max-width: 100%;
        color: white;
        margin-bottom: 60px;
    }
    #showcase img {
        width: 40%;
    }
    #home-buttons a{
        border-radius: 40px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        background-color:#222222;
        color: white;
        padding: 10px;
        align-items: center;
        text-decoration: none;;
    }
    #home-buttons a:hover{
        background-color:white;
        color: black;
    }
    .slogans{
        width: 100%;
        margin: auto;
    }
    .slogan-1 {
        font-size: 12px;
        align-items: center;
        margin: auto;
        padding: 5px;
        padding-bottom: 0;
    }
    .slogan-1 h2{ 
        color:#000000;
        align-items: center;
        margin: auto;
        margin-top: 30px;
    }
    
    .slogan-2 {
        font-size: 12px;
        align-items: center;
        padding-bottom: 50px;
    }
    .mini-nav h1 {
        background: linear-gradient(45deg, #FF5733, #00C0FF);
        background-size: 200% 200%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        width: 80%;
        margin: auto;
        animation: animateGradient 2s infinite;
        font-size: 20px;
    }
    .edexcel-subjects {
        display: none;
    }
    .cambridge-subjects {
        display: none;
    }
    .subject-card {
        background-color: #f9f9f9;
        margin: 10px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 80%;
      }
  
      .subject-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
      }
  
      .button-group {
        display: flex;
        justify-content: center;
        gap: 10px;
      }
  
      .button-group a {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 14px;
        color: white;
        background-color: #007bff;
        transition: background-color 0.3s;
      }
      .button-group a:hover {
        background-color: #5BC0EB;
      }
      .cambridge-title {
        font-size: 25px;
        font-weight: bold;
      }
      .cambridge-sub-title {
        text-align: center;
        margin: auto;
        width: 80%;
        margin-bottom: 30px;
        font-size: 10px;
      }
      .edexcel-title {
        font-size: 25px;
        font-weight: bold;
      }
      .edexcel-sub-title {
        text-align: center;
        margin: auto;
        width: 80%;
        margin-bottom: 30px;
        font-size: 10px;
      }
}
/* Media Query for Home Page */
@media screen and (max-width: 810px) and (min-width: 512px) {
    /* Navbar when small width */
    .small-nav {
        top: 0;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .small-nav img{
        padding: 0;
        max-width: 30px;
        cursor: pointer;
    }
    .small-nav img:hover {
        transform: scale(1.1);
    }

    .small-menu {
        display: none;
        flex-direction: column;
        text-align: right;
        z-index: 3;
        background-color: white;
        width: 100%;
    }
    .small-menu ul{
        margin: 10px;
    }
    .small-menu a:hover {
        color: #0077c2;
        background-color: white;
        text-decoration: none;
        padding: 3px;
        border-radius: 5px;
        box-shadow: 0 0 5px #0077c2;
        
    }
    #navbar {
        display: none;
    }
    .slogans{
        width: 100%;
        margin: auto;
    }
    .slogan-1 {
        font-size: 12px;
        align-items: center;
        margin: auto;
        padding: 5px;
        padding-bottom: 0;
    }
    .slogan-1 h2{ 
        color:#000000;
        align-items: center;
        margin: auto;
        margin-top: 30px;
    }
    
    .slogan-2 {
        font-size: 12px;
        align-items: center;
        padding-bottom: 50px;
    }
    .mini-nav h1 {
        background: linear-gradient(45deg, #FF5733, #00C0FF);
        background-size: 200% 200%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        width: 80%;
        margin: auto;
        animation: animateGradient 2s infinite;
        font-size: 20px;
    }
    #showcase h1{
        font-size: 30px;
        max-width: 60%;
    }
    #showcase a{
        padding: 15px;
    }
    .subject-card {
        display: none;
    }
    .edexcel-subjects img{
        display: none;
    }
    .cambridge-subjects img{
        display: none;
    }
    .edexcel-title {
        font-size: 30px;
    }
    .edexcel-sub-title {
        text-align: center;
        margin: auto;
        width: 80%;
        margin-bottom: 30px;
        font-size: 12px;
    }
    .edexcel-subjects h1{
        font-size: 25px;
    }
    .edexcel-subjects h2{
        display: none;
    }
    .edexcel-subjects a{
        font-size: 10px;
        margin-right: 15px;
    }
    .edexcel-math-1, .edexcel-chemistry-1, .edexcel-physics-1, .edexcel-biology-1{
        width: 40%;
    }
    .cambridge-title {
        font-size: 30px;
    }
    .cambridge-sub-title {
        text-align: center;
        margin: auto;
        width: 80%;
        margin-bottom: 30px;
        font-size: 13px;
    }
    .cambridge-subjects h1{
        font-size: 20px;
    }
    .cambridge-subjects h2{
        display: none;
    }
    .cambridge-subjects a{
        font-size: 10px;
        margin-right: 10px;
    }
    .cambridge-ict-1 h2{
        margin: 0px;
    }
    .cambridge-ict-1, .cambridge-arabic-1, .cambridge-computer-science-1, .cambridge-english-1{
        width: 50%;
    }
}
@media screen and (max-width: 1418px) and (min-width: 810px) {
    .subject-card {
        display: none;
    }
    .edexcel-title {
        font-size: 40px;
    }
    .edexcel-sub-title {
        text-align: center;
        margin: auto;
        width: 70%;
        margin-bottom: 30px;
        font-size: 15px;
    }
    .edexcel-subjects h1{
        font-size: 30px;
    }
    .edexcel-subjects h2{
        font-size: 12px;
    }
    .edexcel-subjects img{
        display: none;
    }
    .edexcel-subjects a{
        font-size: 15px;
        margin-right: 15px;
    }
    .edexcel-math-1, .edexcel-chemistry-1, .edexcel-physics-1, .edexcel-biology-1{
        width: 60%;
    }
    .cambridge-title {
        font-size: 40px;
    }
    .cambridge-sub-title {
        text-align: center;
        margin: auto;
        width: 60%;
        margin-bottom: 30px;
        font-size: 15px;
    }
    .cambridge-subjects h1{
        font-size: 25px;
    }
    .cambridge-subjects h2{
        font-size: 11px;
    }
    .cambridge-subjects img{
        display: none;
    }
    .cambridge-subjects a{
        font-size: 14px;
        margin-right: 15px;
    }
    .cambridge-ict-1 h2{
        margin: 0px;
    }
    .cambridge-ict-1, .cambridge-arabic-1, .cambridge-computer-science-1, .cambridge-english-1{
        width: 72%;
    }
}
@media (min-width: 1418px) {
    .subject-card {
        display: none;
    }
}